@import './styles/Color.scss';

.App {
  display: flex;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.slide-top {
  height: 100%;
  width: 100%;
  animation: slide-top 0.3s linear;
}

.slide-bottom {
  height: 100%;
  width: 100%;
  animation: slide-bottom 0.3s linear;
}

@keyframes slide-top {
  0% {
    // transform: translateY(0);
    opacity: 1;
    filter: blur(0%);
  }
  100% {
    // transform: translateY(-100px);
    opacity: 0;
    filter: blur(100%);
  }
}

@keyframes slide-bottom {
  0% {
    opacity: 0;
    filter: blur(100%);

    // transform: translateY(0);
  }
  100% {
    // transform: translateY(100px);
    opacity: 1;
    filter: blur(0%);
  }
}
