@import "./styles/Color.scss";

.App {
  display: flex;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $_PRIMARY;
  border-radius: 1.15rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $_HOVER_PRIMARY;
}

.slide-top {
  height: 100%;
  width: 100%;
  animation: slide-top 0.5s linear;
}

.slide-bottom {
  height: 100%;
  width: 100%;
  animation: slide-bottom 0.5s linear;
}

@keyframes slide-top {
  0% {
    // transform: translateY(0);
    opacity: 1;
    filter: blur(0%);
  }
  100% {
    // transform: translateY(-100px);
    opacity: 0;
    filter: blur(100%);
  }
}

@keyframes slide-bottom {
  0% {
    opacity: 0;
    filter: blur(100%);

    // transform: translateY(0);
  }
  100% {
    // transform: translateY(100px);
    opacity: 1;
    filter: blur(0%);
  }
}
