$_SUCCESS: #09814a;
$_ERROR: #fb3640;
$_WARNING: #ea9010;

$_CONTAINER: #ffffff;

$_HOVER_PRIMARY: #f14b8a;
$_PRIMARY: #f082ac;
$_SECONDARY: #f3f3f4;

$_SHADOW: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
  rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
  rgba(0, 0, 0, 0.09) 0px -3px 5px;

.App {
  display: flex;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $_PRIMARY;
  border-radius: 1.15rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $_HOVER_PRIMARY;
}
