<div class="admin-content">
  <app-side-body-layout>
    <div content>
      <h1>Admin</h1>
      <ul class="main-left-ul">
        <li routerLink="adminnews">
          <mat-icon>view_week</mat-icon>
          <div class="board-nav"><div>Admin tin tức</div></div>
        </li>
        <li routerLink="adminnoti">
          <mat-icon>subject</mat-icon>
          <div class="board-nav"><div>Admin Notification</div></div>
        </li>
        <li routerLink="management">
          <mat-icon>device_hub</mat-icon>
          <div class="board-nav"><div>Cài đặt quyền Admin</div></div>
        </li>
      </ul>
    </div>
  </app-side-body-layout>
</div>
