.dashboard {
  background-color: #f6f8fa;

  padding: 20px 40px;
  width: 100vw;
  height: 100vh;
}

.comparition-chart {
  display: flex;

  &__circle-chart__box {
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 25px;
  }

  &__circle-chart__title {
    padding-left: 15px;
    padding-top: 10px;
  }

  &__circle-chart__item {
    width: 350px;
    height: 250px;
  }

  &__timeline {
    width: 715px;
    height: 300px;

    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
    overflow-x: hidden;

    &__title {
      padding: 10px 0 0 15px;
    }
  }
}

.gantt-chart {
  margin: 1rem 0;

  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  border-radius: 25px;
  height: 50%;
  width: 100%;

  &_title {
    margin: 1rem 1rem;
  }

  &_item {
    margin: 1rem 1rem;
  }
}
