<div class="edit-admin">
  <div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
  </div>
  <div class="modal-body">
    <div *ngIf="obj">
      <div class="emp-info">Nhân viên: {{obj.email}}</div>
      <ul class="ulTeamNameList">
        <li *ngFor="let i of arraySuperAdmin"><a (click)="deleteItem(i)">
          <mat-icon style="font-size: 0.8rem; color: darkred">delete</mat-icon>
        </a> {{i}}</li>
      </ul>
    </div>
    <div class="flex-container">
      <div class="row">
        <div *ngIf="!obj" class="row-1">
          <app-select-depart (messageEvent)="receiveEmp($event)"
                             [isShowEmpCode]="false"></app-select-depart>
        </div>
        <div class="row-1 type-right">
          <label>Quyền Admin</label>
          <ng-select class="custom-admin" (change)="receiveTypeRight($event)">
            <ng-option *ngFor="let r of rightSuperAllList" [value]="r.value">{{r.title}}</ng-option>
          </ng-select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-addform" (click)="addNew()">Cập nhập</button>
  <button class="btn btn-exp" (click)="activeModal.dismiss('Cross click')">Thoát</button>
</div>

