@import "styles/Color.scss";

.ctn-modal-add-job {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    &__form {
        background-color: #fff;
        width: 150px;
        height: 300px;
    }
}
