.user {
  cursor: pointer;
  min-width: 300px;
  width: auto;
  display: flex;

  margin: 1.5rem 0 0;

  &__info {
    margin-left: 1rem;
    width: fit-content;
    height: 100%;

    & > img {
      border-radius: 50%;
    }

    & > p {
      font-weight: bold;
      margin: 0;
    }

    & > i {
      color: #aaa;
      font-size: 0.8rem;
    }
  }

  &__role {
    height: 30px;
    width: 200px;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
  }
}
