@import '../../../App.scss';
@import '../../../styles/Color.scss';
.login-form {
  height: 400px;
  width: 520px;
  display: flex;
  border-width: 0px;
  border-radius: 15px;
  border-color: white;
  flex-wrap: nowrap;
  background-color: #fff;
  overflow: hidden;
  border-style: solid;
  flex-direction: column;
  position: relative;
  box-shadow: $_SHADOW;
  margin-left: 270px;
  margin-top: 50px;

  &__title {
    padding: 16px;
    padding-top: 24px;
    justify-content: center;
    width: 156px;
    top: 0px;
    height: 97px;
    left: 173px;
    flex-direction: column;
    display: flex;
    &__text {
      margin-left: 185px;
      font-size: 30px;
      color: #000;
      padding-bottom: 12px;
      width: 142px;
      height: 41px;
      font-style: normal;
      font-weight: 700;
    }
  }

  &__email-container {
    top: 85px;
    left: 63px;
    width: 400px;
    height: 68px;
    position: absolute;
    &__label {
      top: 0px;
      left: 0px;
      position: absolute;
      font-style: normal;
      font-weight: 400;
      color: #121212;
      height: 24px;
      width: 125px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  &__password-container {
    top: 203px;
    left: 63px;
    width: 400px;
    height: 45px;
    position: absolute;
    &__label {
      top: -20px;
      left: 0px;
      position: absolute;
      font-style: normal;
      font-weight: 400;
      color: #121212;
      height: 20px;
      width: 79px;
      font-size: 14px;
      font-weight: bold;
    }
  }
  &__login-github {
    top: 362px;
    left: 209px;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    color: rgba(189, 16, 224, 1);
    height: 25px;
    width: 150px;
    left: 195px;
  }

  &__login-btn-container {
    top: 291px;
    left: 63px;
    width: 400px;
    height: 100px;
    position: absolute;
  }

  &__forgotpassword {
    margin-top: 150px;
    margin-left: 330px;
    font-size: 16px;
    line-height: 16px;
    padding-top: 16px;
    padding-bottom: 8px;
    align-self: flex-start;
    width: 150px;
    height: 40px;
    border: none;
    background: transparent;
    color: rgba(189, 16, 224, 1);
    &:active {
      color: orange;
    }
  }
}

.email-textbox {
  display: flex;
  border-bottom-width: 1px;
  border-color: #d9d5dc;
  background-color: transparent;
  flex-direction: row;
  border-radius: 5px;

  &__input {
    color: #000;
    padding-right: 5px;
    font-size: 16px;
    align-self: stretch;
    flex: 1 1 0%;
    line-height: 16px;
    padding-top: 14px;
    padding-bottom: 8px;
    padding-left: 40px;
    border: none;
    background: transparent;
    display: flex;
    flex-direction: column;
    left: 20px;
  }
}
.password-textbox {
  display: flex;
  border-bottom-width: 1px;
  border-color: #d9d5dc;
  background-color: transparent;
  flex-direction: row;
  border-radius: 5px;

  &__input {
    color: #000;
    padding-right: 5px;
    font-size: 16px;
    align-self: stretch;
    flex: 1 1 0%;
    line-height: 16px;
    padding-top: 14px;
    padding-bottom: 8px;
    padding-left: 40px;
    border: none;
    background: transparent;
    display: flex;
    flex-direction: column;
  }
}

.login-btn {
  display: flex;
  background-color: $_PRIMARY;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 2px;
  width: 400px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;

  &__text {
    color: #fff;
    font-size: 17px;
    width: 57px;
    height: 29px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    border: none;
    background: transparent;
    margin-top: 10px;
  }
  &:hover {
    opacity: 0.8;
  }
}
