th {
    font-size: 1rem;
    vertical-align: text-top;
    /*padding: 2rem 0 0 2px;*/
    text-align: left;
    background: #8c7a7e;
    color: white;
}

td, th {
    border: 0.5px solid #D5D5D5;
    width: -moz-min-content;
    white-space: nowrap;
}
.custom__select {
    width: 250px;
}
::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
    white-space: normal !important;
}
.delete-col:hover{
    color: red;
    cursor: pointer;
}
