.content {
    .kanban-board {
      height: 500px;
      float: left;
      width: calc(96%/4);
      text-align: left;
      margin: 0 5.5px;
      padding: 5px 5px;
      border-radius: 4px;
      background-color: rgb(243, 243, 243);
    }
  
    .work-flow {
      position: relative;
    }
  
    .task-infomation {
      padding: 5px 5px;
    }
  }