.content {
  .kanban {
    display: flex;
    justify-content:space-between;
  // css columns
    .kanban-board {
      float: left;
      width: calc(100%/4.1);
      text-align: left;
      margin: 0 5.5px;
      padding: 5px 5px;
      border-radius: 4px;
      background-color: rgb(243, 243, 243);
    }
  
    .work-flow {
      &-task-infomation {
        padding: 5px 5px;
      }

      &-footer{
        text-align: center;
        a {
          color: #000;
          text-decoration: none;
        }
      }
    }

    // css tasks
    .task-detail {
      height: 55px;
      background-color: #fff;
      border-radius: 4px;
      padding: 5px 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      position: relative;
      margin-bottom: 8px;
      cursor: pointer;
    }

    .current{
      background-color: #282c34;
      color: #fff;
    }

    .task-header {
      display: block;
      position: relative;
  
      &__name {
        font-weight: bold;
      }
  
      &__more {
        float: right;
        text-decoration: none;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  
    .task-content {
      width: 100%;
      display: inline-block;
        

      &__member {
        border: 0.05px solid #000;
        border-radius: 50%;
      }

      &__member:not(:first-child) {
        transform: translateX(-10px);
      }

      &__time {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 5px;
        padding-right: 5px;
      }
    }
  }
}