.content {
  .kanban {
    display: flex;
    justify-content:space-between;
  // css columns
    .kanban-board {
      float: left;
      width: calc(100%/4.1);
      text-align: left;
      margin: 0 5.5px;
      padding: 5px 5px;
      border-radius: 4px;
      background-color: rgb(243, 243, 243);
    }
  
    .work-flow {
      &-task-infomation {
        padding: 5px 5px;
      }

      &-footer{
        text-align: center;
        a {
          color: #000;
          text-decoration: none;
        }
      }
    }

    // css tasks
    .task-detail {
      background-color: #fff;
      border-radius: 4px;
      padding: 5px 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      position: relative;
      margin-bottom: 8px;
      cursor: pointer;
    }

    .current{
      background-color: #282c34;
    }

    .task-header {
      display: block;
      position: relative;
  
      &-name {
        font-weight: bold;
      }
  
      &-more {
        float: right;
        text-decoration: none;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  
    .task-content {
      width: 100%;
      display: inline-block;
  
      p {
        float: left;
        padding-right: 5px;
      }
  
      &-member {
        float: left;
        position: absolute;
        bottom: 0;
      }
  
      &-time {
        position: absolute;
        right: 0;
        bottom: 0;
        float: right;
      }
    }
  }
}