h2 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}

.tree ul {
    position: relative;
    padding: 1em 0;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
}

.tree ul::after {
    content: '';
    display: table;
    clear: both;
}

.tree li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 1em .5em 0 .5em;
}

.tree li::before {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: solid #ccc;
    width: 50%;
    height: 1em;
}

.tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: solid #ccc;
    width: 50%;
    height: 1em;
    right: auto;
    left: 50%;
    border-left: solid #ccc;
}

.tree li:only-child::after {
    display: none;
}

.tree li:only-child::before {
    display: none;
}

.tree li:only-child {
    padding-top: 0;
}

.tree li:first-child::before{
    border: 0 none;
}


.tree li:last-child::after{
    border: 0 none;
}

.tree li:last-child::before{
    border-right: solid #ccc;
    border-radius: 0 5px 0 0;
}

.tree li:first-child::after{
    border-radius: 5px 0 0 0;
}


.tree ul ul::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: solid #ccc;
    width: 0;
    height: 1em;
}

.tree li a {
    border: solid #ccc;
    padding: .5em .75em;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    color: #333;
    position: relative;
}

.tree li a:hover,
.tree li a:hover+ul li a {
    background: #e9453f;
    color: #fff;
    border: solid #e9453f;
}

.tree li a:hover + ul li::after,
.tree li a:hover + ul li::before,
.tree li a:hover + ul::before,
.tree li a:hover + ul ul::before{
    border-color:  #e9453f;
}


@media only screen and (max-width: 1200px) {
  h2 {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .page {
    margin-left: -8px;
  }

  .page .search label{
    font-size: 11px;
  }

  .page .search button {
    height: 36px;
    width: 55px;
  }

  .ng-select::ng-deep {
    height: 100%;
    font-size: 13px;
  }

  .ng-select.custom::ng-deep .ng-select-container {
    max-width: 200px;
  }

  .tree {
    margin-left: -35px;
    font-size: 10px;
  }
}
.search {
  display: flex;
}
.ng-select.custom ::ng-deep .ng-select-container  {
  border: 1px solid lightgray;
  min-height: 0px;
  background: #fff;
  border-radius: 2rem;
  width: 625px;
}

.page {
  /*overflow: scroll;*/
  height: 100vh;
  padding-top: 1rem;
}
.search {
  margin-bottom: 3rem;
}
.graph {
  margin-top: 2rem;
}
