<div>
    <app-child-layout [title]="title"
                      [infoRouterLink]="infoRouterLink"
                      [importRouterLink]="importRouterLink"
                      [nameOfLeft]="'left-section-noti'"
                      [nameOfRight]="'right-section-noti'"
                      [classOfCard]="'card-body-noti'"
                      [showImportButton]="true"
                      [showInfoButton]="false"
                      [homeSetup]="'homeSetup-snd'"
                      [notPad]="true"
    ></app-child-layout>
</div>
