@import 'styles/Color.scss';
.user-setting-ctn {
  background-color: lightgray;
}
.ctn-userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 90vh;
  margin: 0 auto;
  left: 15%;
  top: 10%;
  position: absolute;
  p {
    color: #888;
  }
  z-index: 1;
}
.userinfo {
  &__sidebar {
    position: absolute;
    top: 40px;
    width: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__name {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 280px;
      height: fit-content;
      align-content: flex-start;
      margin-bottom: 10px;

      .user-image {
        border-radius: 50%;
        margin-bottom: 10px;
        margin: 0;
        height: 280px;
        width: 280px;
      }

      .name {
        font-size: 25px;
        font-weight: bold;
        text-align: left;
        margin: 0;
      }

      .user-name {
        color: #ccc;
        text-align: left;
        font-size: 20px;
        margin: 0;
      }
    }

    &__bio {
      display: flex;
      flex-direction: column;

      .name {
        display: inline-block;
        width: 280px;
        height: fit-content;
        font-size: 25px;
        font-weight: bold;
        text-align: left;
        margin: 0;
      }

      .user-name {
        display: inline-block;
        width: 280px;
        height: fit-content;
        color: #ccc;
        text-align: left;
        font-size: 20px;
        margin-bottom: 1rem;
      }

      &__content {
        display: inline-block;
        width: 280px;
        height: fit-content;
        font-size: 18px;
        margin-top: 10px;
      }

      &__email {
        display: inline-block;
        font-size: 16px;
        width: 200px;
      }

      &__location {
        display: inline-block;
        font-size: 16px;
        width: 200px;
      }

      .edit-profile {
        width: 280px;
        height: 32px;
        background-color: $_BLUE;
        border: 1px solid #fff;
        border-radius: 10px;
        color: #fff;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .edit-profile:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: linear 0.1s;
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 10px;

      &__status {
        display: flex;
        flex-direction: column;

        .statistic {
          display: flex;
          justify-content: space-around;

          .followers {
            display: flex;
          }

          .following {
            display: flex;
          }
        }
      }
    }
  }
}

.edit-profile-ctn {
  width: 280px;
  height: fit-content;

  &__save-profile-btn {
    height: 30px;
    width: 100px;
    background-color: $_BLUE;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    margin: 10px 0;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
      transition: linear 0.1s;
    }
  }

  &__cancel-btn {
    height: 30px;
    width: 80px;
    background-color: white;
    border: 1px solid #fff;
    border-style: solid;
    border-color: lightgray;
    border-radius: 10px;
    color: grey;
    font-weight: bold;
    margin-left: 5px;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
      transition: linear 0.1s;
    }
  }

  &__name-ctn {
    width: 280px;
    height: 57px;
    margin-bottom: 10px;

    &__label {
      display: block;
      font-weight: bold;
    }
    &__input {
      display: block;
      width: 280px;
      height: 32px;
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
      padding-left: 10px;

      &:focus {
        outline: none;
        box-shadow: 0 0 5px $_BLUE;
      }
    }
  }

  &__bio-ctn {
    margin-top: 10px;
    width: 280px;
    height: 110px;

    &__label {
      display: block;
      font-weight: bold;
    }
    &__input {
      display: block;
      width: 280px;
      height: 81px;
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
      padding-left: 10px;

      &:focus {
        outline: none;
        box-shadow: 0 0 5px $_BLUE;
      }
    }
  }

  &__details-ctn {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 280px;
    height: 28px;

    &__input {
      width: 258px;
      height: 28px;
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
      padding-left: 10px;
      margin-left: 3px;
      &:focus {
        outline: none;
        box-shadow: 0 0 5px $_BLUE;
      }
    }
  }
}

// .navBar {
//   background-color: white;
//   width: 100vw;
//   height: 75px;
//   border-style: solid;
//   border-width: 1px;
//   border-color: lightgray;
//   position: absolute;
//   display: flex;

//   &__btn-ctn {
//     position: relative;
//     height: fit-content;
//     width: fit-content;
//     top: 35.8%;
//     left: 33.3%;
//     z-index: 3;
//   }

//   &__project {
//     position: relative;
//     height: 47px;
//     width: 115px;
//     border-style: solid;
//     border-width: 0px 0px 1px 0px;
//     border-color: lightgray;
//     background-color: white;

//     &__text {
//       color: black;
//       font-size: 14px;
//       font-weight: 400;
//       padding-left: 27px;
//     }

//     &:hover {
//       transition-duration: 0.2s;
//       border-width: 0px 0px 3px 0px;
//       border-color: orange;
//     }
//   }

//   &__project-selected {
//     position: relative;
//     height: 48px;
//     width: 115px;
//     border-style: solid;
//     border-width: 0px 0px 4px 0px;
//     border-color: orange;
//     background-color: white;

//     &__text {
//       color: black;
//       font-size: 14px;
//       font-weight: 550;
//       padding-left: 27px;
//     }
//   }

//   &__task {
//     position: relative;
//     height: 47px;
//     width: 115px;
//     border: none;
//     border-style: solid;
//     border-width: 0px 0px 1px 0px;
//     border-color: lightgray;
//     background-color: white;

//     &__text {
//       color: black;
//       font-size: 14px;
//       font-weight: 400;
//       padding-left: 2px;
//     }

//     &:hover {
//       transition-duration: 0.2s;
//       border-width: 0px 0px 3px 0px;
//       border-color: orange;
//     }
//   }

//   &__task-selected {
//     position: relative;
//     height: 48px;
//     width: 115px;
//     border: none;
//     border-style: solid;
//     border-width: 0px 0px 4px 0px;
//     border-color: orange;
//     background-color: white;

//     &__text {
//       color: black;
//       font-size: 14px;
//       font-weight: 550;
//       padding-left: 2px;
//     }
//   }

//   &__issues {
//     position: relative;
//     height: 47px;
//     width: 104px;
//     border-style: solid;
//     border-width: 0px 0px 1px 0px;
//     border-color: lightgray;
//     background-color: white;

//     &__text {
//       color: black;
//       font-size: 14px;
//       font-weight: 400;
//       padding-left: 15px;
//     }

//     &:hover {
//       transition-duration: 0.2s;
//       border-width: 0px 0px 3px 0px;
//       border-color: orange;
//     }
//   }

//   &__issues-selected {
//     position: relative;
//     height: 48px;
//     width: 104px;
//     border-style: solid;
//     border-width: 0px 0px 4px 0px;
//     border-color: orange;
//     background-color: white;

//     &__text {
//       color: black;
//       font-size: 14px;
//       font-weight: 550;
//       padding-left: 15px;
//     }
//   }

//   &__task-number-ctn {
//     position: absolute;
//     background-color: lightgray;
//     width: 20px;
//     height: 20px;
//     border-radius: 10px;
//     align-content: center;
//     bottom: 28%;
//     left: 80%;
//     padding-top: 2px;
//     &__text {
//       display: inline-block;
//       font-weight: 600;
//     }
//   }

//   &__type-btn {
//     position: absolute;
//     left: 50%;
//   }
// }

.info-ctn {
  position: absolute;
  height: fit-content;
  width: 950px;
  top: 13.8%;
  left: 33.6%;
}
.project-ctn {
  position: absolute;
  left: 33.6%;
  top: 20%;
  height: 300px;
  width: 940px;
  // border-style: solid;
  // border-width: 1px;
  // border-color: black;
  overflow-x: auto;
  padding-top: 1rem;
  padding-left: 1rem;
}
.task-ctn {
  position: absolute;
  left: 33.6%;
  top: 55%;
  height: 400px;
  width: 940px;
  // border-style: solid;
  // border-width: 1px;
  // border-color: black;
  overflow-x: auto;
  padding-top: 1rem;
  padding-left: 1rem;
}

.approved-decor {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border-style: none;
  outline: none;
  padding-top: 8px;
  background-color: rgb(177, 166, 240);
  &__text {
    font-weight: bold;
    font-size: 15px;
    color: darkslateblue;
  }
}

.progress-decor {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border-style: none;
  outline: none;
  padding-top: 8px;
  background-color: rgb(204, 252, 204);
  &__text {
    font-weight: bold;
    font-size: 15px;
    color: limegreen;
  }
}

.review-decor {
  display: flex;
  justify-content: center;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border-style: none;
  outline: none;
  padding-top: 8px;
  background-color: lightpink;
  &__text {
    font-weight: bold;
    font-size: 15px;
    color: red;
  }
}
