.header-board {
  width: 100%;
  height: 12%;

  &__2nd {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      display: inline-block;
      width: fit-content;
      max-width: 70%;
      & > h2 {
        overflow: hidden !important;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &__time {
        color: #aaa;
        width: fit-content;
        display: flex;
        align-items: center;

        & > svg {
          font-size: 1.2rem;
        }
      }
    }
    &__members {
      width: fit-content;
      display: flex;
      align-items: center;

      & > img {
        border: 1px solid #ccc;
        border-radius: 50%;
        &:nth-child(2) {
          transform: translateX(-10px);
        }
        &:nth-child(3) {
          transform: translateX(-20px);
        }
        &:nth-child(4) {
          transform: translateX(-30px);
        }
      }
      &__more {
        height: 40px;
        width: 40px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        background-color: #ddd;
        transform: translateX(-40px);
      }
    }
    &__setting {
      font-size: 1.7rem;
      font-weight: bold;
    }
  }
}
