@import 'styles/Color.scss';

.ctn-job-task {
  width: 100%;
  height: fit-content;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 1rem 1rem;
  transition: ease-in 0.3s;
  &:hover {
    background-color: #fafafa;
  }

  &__title {
    width: 50%;
    font-size: 18px;
    font-weight: bold;

    & p {
      margin: 0 !important;
    }
  }

  &__priority {
    width: fit-content;
  }

  &__process {
    width: 20%;
  }

  &__members {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
  }
}
