@import 'styles/Color.scss';

.column {
  width: calc(90% / 4);
  overflow-x: scroll;
  white-space: nowrap;
  height: fit-content;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  &:not(:first-child) {
    margin-left: 1rem;
  }

  &__header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    &__title {
      border: none;
      flex: 1;
      word-wrap: break-word;
      overflow: hidden;
      color: #555;
      &:focus {
        outline: none;
      }
    }

    & > svg {
      font-size: 1.15rem;
    }
  }

  &__content {
    background-color: #f3f4fb;
    height: fit-content;
    width: 100%;
    border-radius: 8px;
    padding: 1rem;
  }
}
