<div class="single-menu">
  <div class="menu-header">
    Tiện ích hành chính
  </div>
  <hr>
  <div routerLink="/api/auth/hanhchinh/diemdanh" class="menu-item">
    Quản lý điểm danh
    <img src="assets/images/checkin.png">
  </div>
  <div routerLink="/api/auth/hanhchinh/tbvp" class="menu-item">
    Ticket
    <img src="assets/images/ticket1.png">
  </div>
  <div routerLink="/api/auth/hanhchinh/adminpunish" class="menu-item">
    Ghi nhận lỗi admin
    <img src="assets/images/report1.png">
  </div>
  <div routerLink="/api/auth/hanhchinh/atld" class="menu-item">
    An toàn lao động
    <img src="assets/images/safety.png">
  </div>
</div>


