@import 'styles/Color.scss';

.ctn-kanbandashboard {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  padding: 1rem 2rem;

  background-color: #f6f8fa;

  & .add-new-job {
    border-radius: 5px;
  }

  &__working {
    width: 100%;
    height: 50%;
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin-bottom: 2rem;

    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    &__title {
      display: flex;
      width: 100%;
      height: 10%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      .title {
        color: $_PRIMARY;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      height: 90%;
      overflow: auto;
    }
  }

  &__complete {
    width: 100%;
    height: 50%;
    padding: 1rem 1rem;
    border-radius: 1rem;

    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    &__title {
      display: flex;
      width: 30%;
      justify-content: space-between;
      align-items: center;
      height: 10%;
    }

    &__content {
      opacity: 0.7;
      height: 90%;
      overflow: auto;
    }
  }
}
