@import 'styles/Color.scss';

.header-board {
  width: 100%;
  height: fit-content;
  color: #333;
  background-color: #fff;
  padding: 0 1rem;

  box-shadow: $_SHADOW;
  border-radius: 8px;
  top: 0;
  &__header {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__back {
      cursor: pointer;

      display: flex;
      align-items: center;

      width: fit-content;
      transition: all 0.3s;

      &:hover {
        color: $_BLUE;
      }

      & > svg {
        margin-right: 1rem;
        font-size: 1.15rem;
      }
    }

    &__search {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      border: 1px solid #ccc;
      border-radius: 8px;

      width: 30%;
      height: 35px;

      padding: 0 1rem;

      transition: all 0.3s;

      &:focus-within {
        background-color: hsl(215, 92%, 64%, 0.1);
        border: none;
        color: $_BLUE;
        & > input[type='search'] {
          color: $_BLUE;
        }
      }
      & > input {
        background-color: transparent;
        border: none;
        padding-left: 1rem;
        outline: none;
        width: 100%;
      }

      & > svg {
        font-size: 1.15rem;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding: 1rem 0;

    &__1st {
      max-width: 50%;
      width: fit-content;
      height: 100%;

      display: flex;
      justify-content: center;
      flex-direction: column;

      & > .board-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;

        & > .board-level {
          display: flex;
          width: 70px;
          height: 30px;

          justify-content: center;
          align-items: center;

          border-radius: 8px;
          background-color: hsl(337, 77%, 64%, 0.1);
          color: $_PINK;

          margin-left: 1rem;
        }
      }

      & > .board-time {
        display: flex;
        align-items: center;
        & > svg {
          font-size: 1.15rem;
          margin-right: 0.5rem;
        }
      }
    }

    &__2nd {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 30%;
      height: 100%;

      & > div {
        height: 65px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 1rem;
      }
      & > .board__member {
        flex: 1;
        border-right: 2px solid #ccc;
        & > div {
          display: flex;
          & > img {
            border-radius: 50%;
            border: 2px solid #ccc;
          }
          & > .more-member {
            height: 40px;
            width: 40px;

            border-radius: 50%;
            background-color: #ddd;

            display: flex;
            justify-content: center;
            align-items: center;

            color: #666;
          }
        }
      }
      & > .board__status {
        flex: 1;
        align-items: flex-end;

        & > div {
          padding: 0.5rem 1.5rem;
          border-radius: 0.8rem;
          background-color: hsl(170, 79%, 43%, 0.1);

          & > p {
            color: $_GREENBLUE;
          }
        }
      }
    }
  }
}

.completed .red {
  background-color: hsl(337, 77%, 64%, 0.1) !important;
  color: hsl(337, 77%, 64%) !important;
}

.low {
  background-color: hsl(170, 79%, 43%, 0.1) !important;
  color: hsl(170, 79%, 43%) !important;
}

.medium {
  background-color: hsl(22, 95%, 60%, 0.1) !important;
  color: hsl(22, 95%, 60%) !important;
}
