@import "../../styles/Color.scss";

.videocall {
  width: 100%;
  height: 100%;

  background-color: #202124;

  position: relative;

  &__container-video {
    width: 100%;
    height: 90%;
    display: flex;
    &__presenter {
      height: 100%;
      width: 100%;
      flex: 3;
      margin-bottom: 1%;
      display: flex;
      justify-content: center;
      padding: 10px 0 10px 10px;
      & > video {
        width: 100%;
        height: 100%;
        border-radius: 0px;
        margin: 0;
      }
    }

    &__audiences {
      flex: 1;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;

      overflow-x: hidden;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */

      &::-webkit-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    }
  }
  &__footer {
    width: 100%;
    height: 10%;
    padding: 10px;

    background-color: $_CONTAINER;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {
      width: calc(100% / 3);
    }

    &__info-room {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &__controller {
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      & > button {
        cursor: pointer;

        margin: 0 15px;

        height: 4rem;
        width: 4rem;
        background-color: #fff;

        border: 1px solid #ccc;

        border-radius: 50%;

        &:hover {
          box-shadow: $_SHADOW;
        }
      }

      & > button > svg {
        font-size: 1.5em;
      }
    }

    &__feat {
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      & > svg {
        cursor: pointer;
        font-size: 1.5rem;
        margin: 0 15px;
      }
    }
  }
}

.ctn-video-feat {
  height: 88%;
  width: 20%;

  border-radius: 15px;
  border: none;

  position: fixed;
  right: 10px;
  top: 10px;

  box-shadow: $_SHADOW;

  background-color: $_CONTAINER;

  animation: showVideo 0.3s ease-in-out;
}

@keyframes showVideo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.teammate {
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  &__add-member {
    cursor: pointer;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 5%;
    width: 50%;

    border-radius: 6px;
    border: none;

    background-color: $_PRIMARY;
    color: #fff;

    & > svg {
      font-size: 1.5rem;
    }
  }
  &__list-member {
    height: calc(80% / 2);
    width: 100%;

    padding: 2%;

    border-top: 1px solid #ccc;

    & > div {
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    &--online {
      & > p {
        color: $_SUCCESS;
        background-color: $_CONTAINER;
      }
    }
    &--offline > p {
      color: $_ERROR;
      background-color: $_CONTAINER;
    }
  }
}

.chatting {
  padding: 1%;

  & > p {
    margin-bottom: 1rem;
  }
}
