@import "../../../../styles/Color.scss";

.ctn-video-call-chat {
  height: 100%;
  width: 40%;
  background-color: $_SECONDARY;
  border-radius: 8px;
  color: black;
  padding: 1em;
  position: relative;
  box-shadow: $_SHADOW;

  @media all and (display-mode: fullscreen) {
    width: 27%;
    .ctn-video-call-chat__title {
      height: 130px;
    }

    .ctn-video-call-chat__title__control {
      width: 125px;

      & > button {
        width: 125px;
      }
    }
  }

  &__title {
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    justify-content: space-between;
    margin-bottom: 10px;

    &__control {
      & > button {
        cursor: pointer;
        margin: 5px;
        height: 40px;
        width: 110px;
        border: none;
        border-radius: 10px;
        font-weight: bold;
        background-color: transparent;
      }
      & > .active {
        background-color: $_PRIMARY;
        color: #fff;
      }
    }
  }
  &__chat-box {
    display: flex;
    overflow-y: auto;
    height: 75%;
    padding: 10px;
    flex-direction: column;
    width: auto;

    &__from-them {
      display: flex;

      & > .info {
        display: flex;
        align-items: center;
      }

      & > .chat-text {
        & > p {
          width: fit-content;
          background-color: #fff;
          padding: 10px;
          margin: 5px 0;
          border-radius: 1.15rem;
        }

        & > p:nth-child(2) {
          border-radius: 1.15rem 1.15rem 1.15rem 0;
        }
        & > p:last-child {
          border-radius: 0 1.15rem 1.15rem 1.15rem;
        }
      }
    }
    &__from-me {
      display: flex;
      justify-content: flex-end;
      & > .chat-text {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        & > p {
          color: white;
          width: fit-content;
          background-color: $_PRIMARY;
          padding: 10px;
          margin: 1px 0;
          border-radius: 1.15rem;
        }

        & > p:nth-child(1) {
          border-radius: 1.15rem 1.15rem 0rem 1.15rem;
        }
        & > p:last-child {
          border-radius: 1.15rem 0 1.15rem 1.15rem;
        }
      }
    }
  }
  &__chat-field {
    position: absolute;
    bottom: 1em;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    width: 93%;
    border-radius: 15px;
    align-items: center;
    & > input {
      padding: 10px;
      border: none;
      width: 90%;

      &:focus {
        outline: none;
      }
    }
    & > div {
      background-color: $_PRIMARY;
      height: 45px;
      width: 45px;
      border: none;
      border-radius: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & > div > .icon {
      font-size: 18px;
      color: #fff;
    }
  }
}
