@import '../../../../styles/Color.scss';

.project-ctn {
  width: 936px;
  height: 100vh;
  background-color: $_BLUE;

  &__pinned-ctn {
    position: relative;
    top: 2.5%;
    width: 904px;
    height: fit-content;

    &__label-ctn {
      position: relative;
      width: 904px;
      height: 24px;

      &__label {
        color: orange;
        display: inline-block;
        padding-top: 6px;
        font-size: 21px;
        padding-left: 12px;
        color: white;
      }

      &__customize {
        color: white;
        display: inline-block;
        position: relative;
        font-size: 14px;
        left: 72.5%;
        border-style: none;
        background-color: transparent;

        &:hover {
          border-style: solid;
          border-width: 0px 0px 2px 0px;
          border-color: black;
        }
      }
    }
  }

  &__repos-ctn {
    position: relative;
    width: 904px;
    left: 1%;
    margin-top: 25px;
    height: max-content;
    min-height: 113px;
    display: grid;
    gap: 16px;

    &__repo {
      position: relative;
      width: 444px;
      height: 123px;
      border-style: solid;
      border-color: black;
      border-width: 1px;
      border-radius: 5px;
      background-color: white;
      box-shadow: $_SHADOW;

      &__details {
        position: relative;
        width: 410px;
        height: 89px;
        top: 11.8%;
        left: 3%;

        &__title {
          position: relative;
          width: 335px;
          height: fit-content;
          margin-bottom: 5px;

          &__text {
            font-size: 17px;
            color: $_GREENBLUE;
            padding-left: 20px;
            font-weight: 600;
            text-decoration: none;
            margin: 0;

            &:hover {
              transition-duration: 0.2s;
              color: hsl(170, 82%, 35%);
            }
          }
        }
        &__star-num {
          font-size: 15px;
          padding-left: 12px;
        }
      }
      &__description {
        position: relative;
        width: 410px;
        height: 44px;
        display: block;

        &__text {
          font-size: 14px;
        }

        &__create-date {
          display: inline-block;
          position: relative;
          top: 85%;
          right: 30.3%;
          font-size: 12px;
        }
      }
      &__type-ctn {
        position: absolute;
        bottom: 76%;
        left: 83%;
        width: 49px;
        height: 20px;
        border-style: solid;
        border-color: lightgray;
        border-width: 1px;
        border-radius: 10px;

        &__text {
          font-size: 12px;
          font-weight: 600;
          padding-left: 7px;
          color: gray;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    &__repos-ctn {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
