@import "../../styles/color.scss";

.hidden {
  display: none;
}

@mixin hideNShow($isHide) {
  @if $isHide {
    right: -5px;
  }
}

.side-bar {
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  color: #fff;
  background-color: $_PRIMARY;

  &:hover {
    animation: 0.15s show ease-in-out forwards;

    & ~ .hidden {
      display: block !important;
    }

    @keyframes show {
      from {
        width: 65px;
      }
      to {
        width: 400px;
      }
    }
  }
  &:not(:hover) {
    animation: 0.15s hide ease-in-out forwards;

    .notify {
      @include hideNShow($isHide: true);
    }

    @keyframes hide {
      from {
        width: 400px;
      }
      to {
        width: 65px;
      }
    }
  }

  &__header {
    height: 150px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;

    pointer-events: none;

    & > .icon {
      font-size: 60px;
    }

    & > p {
      font-weight: bold;
      margin-left: 1rem;
    }
  }

  &__content {
    height: 700px;
    width: 100%;

    display: flex;
    flex-direction: column;

    &__group {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      margin: 1rem 0;

      & > a {
        height: 50px;
        width: 100%;

        border-radius: 6px;
        margin: 0.5% 0;
        padding: 5% 0.5%;

        background-color: $_PRIMARY;
        color: #fff;

        font-weight: bold;
        font-size: 1rem;
        text-decoration: none;

        display: flex;
        align-items: center;

        transition: all 0.2s ease;

        position: relative;

        &:hover {
          background-color: $_CONTAINER;
          color: $_HOVER_PRIMARY;
        }

        & > p {
          margin-left: 5%;
        }

        & > .notify {
          text-align: center;

          padding: 10px 0;

          height: 35px;
          width: 35px;

          border-radius: 6px;

          background-color: $_CONTAINER;

          position: absolute;

          right: 0px;

          color: $_HOVER_PRIMARY;
        }

        & > .icon {
          font-size: 2rem;
        }
      }
    }
  }
  &__footer {
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__user {
      cursor: pointer;
      width: 260px;
      display: flex;
      align-items: center;
      font-weight: bold;

      & > img {
        border-radius: 50%;
      }

      & > p {
        margin-left: 5%;
      }
    }

    & > .icon {
      font-size: 1.3rem;
    }
  }
}
