@import "../../styles/color.scss";

.hidden {
  display: none;
}

.side-bar {
  
  padding: 0 10px;
  border-radius: 0 8px 8px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  color: #fff;
  background-color: $_PRIMARY;

  overflow-x: hidden;

  &:hover {
    animation: 0.2s hide ease-in-out forwards;

    & ~ .hidden {
      display: block !important;
    }

    @keyframes hide {
      from {
        width: 60px;
      }
      to {
        width: 320px;
      }
    }
  }
  &:not(:hover) {
    animation: 0.35s show ease-in-out forwards;

    @keyframes show {
      from {
        width: 320px;
      }
      to {
        width: 60px;
      }
    }
  }

  &__header {
    height: 20%;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 30px;

    pointer-events: none;

    & > .icon {
      font-size: 50px;
    }
  }

  &__content {
    height: 70%;
    width: 100%;

    display: flex;
    flex-direction: column;

    &__group {
      height: calc(100% / 3);
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;

      & > a {
        height: 20%;
        width: 100%;

        border-radius: 1rem;
        margin: 0.5rem 0;
        padding: 1rem 0.5rem;

        background-color: $_PRIMARY;
        color: #fff;

        font-weight: bold;
        font-size: 1.15rem;
        text-decoration: none;

        display: flex;
        align-items: center;

        transition: all 0.2s ease;

        position: relative;

        &:hover {
          background-color: $_CONTAINER;
          color: $_HOVER_PRIMARY;
        }

        & > p {
          margin-left: 1rem;
        }

        & > .notify {
          display: flex;
          align-items: center;
          justify-content: center;

          height: 40px;
          width: 40px;

          border-radius: 8px;

          background-color: $_CONTAINER;

          position: absolute;
          right: 0px;

          color: $_HOVER_PRIMARY;
        }

        & > .icon {
          font-size: 25px;
        }
      }
    }
  }
  &__footer {
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__user {
      cursor: pointer;
      width: 260px;
      display: flex;
      align-items: center;
      font-weight: bold;

      & > img {
        border-radius: 50%;
      }

      & > p {
        margin-left: 1rem;
      }
    }

    & > .icon {
      font-size: 1.3rem;
    }
  }
}
