.detail-task-upload-attach {
  & > .ant-upload {
    width: 100%;
  }
}

.table-detail-task {
  &__name-attach {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #fafafa;
      color: cornflowerblue;
    }
  }
  &__icon-attach {
    font-size: 20px;
    margin-right: 20px;
  }
}
