@import '../../../../styles/Color.scss';

.issues-ctn {
  width: 936px;
  height: 100vh;
  background-color: $_BLUE;

  &__search-ctn {
    position: relative;
    left: 1.5%;
    height: 65px;
    width: 904px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: lightgray;

    &__created-btn {
      position: relative;
      top: 23%;
      width: 83px;
      height: 32px;
      border-style: solid;
      border-width: 1px;
      border-radius: 5px 0px 0px 5px;
      border-color: black;
      background-color: white;

      &__text {
        font-size: 14px;
        font-weight: 600;
      }
    }

    &__created-btn-selected {
      position: relative;
      top: 23%;
      width: 83px;
      height: 32px;
      border-style: solid;
      border-width: 1px;
      border-radius: 5px 0px 0px 5px;
      border-color: black;
      background-color: rgb(14, 18, 238);

      &__text {
        font-size: 14px;
        font-weight: 600;
        color: white;
      }
    }

    &__assigned-btn {
      position: relative;
      top: 23%;
      width: 91px;
      height: 32px;
      border-style: solid;
      border-width: 1px;
      border-color: black;
      background-color: white;

      &__text {
        font-size: 14px;
        font-weight: 600;
      }
    }

    &__assigned-btn-selected {
      position: relative;
      top: 23%;
      width: 91px;
      height: 32px;
      border-style: solid;
      border-width: 1px;
      border-color: black;
      background-color: rgb(14, 18, 238);

      &__text {
        font-size: 14px;
        font-weight: 600;
        color: white;
      }
    }

    &__mentioned-btn {
      position: relative;
      top: 23%;
      width: 103px;
      height: 32px;
      border-style: solid;
      border-width: 1px;
      border-radius: 0px 5px 5px 0px;
      border-color: black;
      background-color: white;

      &__text {
        font-size: 14px;
        font-weight: 600;
      }
    }

    &__mentioned-btn-selected {
      position: relative;
      top: 23%;
      width: 103px;
      height: 32px;
      border-style: solid;
      border-width: 1px;
      border-radius: 0px 5px 5px 0px;
      border-color: black;
      background-color: rgb(14, 18, 238);

      &__text {
        font-size: 14px;
        font-weight: 600;
        color: white;
      }
    }

    &__search-bar {
      position: absolute;
      top: 23%;
      left: 35.8%;
      width: 580px;
      height: 32px;
      padding-left: 30px;
      border-style: solid;
      border-width: 1px;
      border-color: black;
      border-radius: 5px;
    }
  }

  &__result-ctn {
    position: relative;
    left: 1.5%;
    width: 904px;
    height: 351px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: lightgray;

    &__sort-ctn {
      position: relative;
      width: 902px;
      height: 55px;
      border-style: solid;
      border-width: 0px 0px 1px 0px;
      border-color: lightgray;
      background-color: whitesmoke;

      &__open-btn {
        position: relative;
        top: 25%;
        left: 2%;
        min-width: 100px;
        width: fit-content;
        height: 21px;
        border-style: none;
        background-color: transparent;

        &__text {
          font-size: 15px;
          padding-left: 5px;
          &:hover {
            font-weight: 600;
          }
        }
        &__text-selected {
          font-size: 15px;
          padding-left: 5px;
          font-weight: 600;
        }
      }

      &__closed-btn {
        position: relative;
        top: 25%;
        left: 5%;
        width: fit-content;
        min-width: 110px;
        height: 21px;
        border-style: none;
        background-color: transparent;

        &__text {
          font-size: 15px;
          padding-left: 5px;

          &:hover {
            font-weight: 600;
          }
        }

        &__text-selected {
          font-size: 15px;
          padding-left: 5px;
          font-weight: 600;
        }
      }

      &__visibility-btn {
        position: relative;
        left: 60.5%;
        bottom: 10%;
        width: 73px;
        height: 21px;

        &__summary {
          width: 73px;
          height: 21px;
          font-size: 15px;

          &__option-ctn {
            position: relative;
            width: fit-content;
            height: fit-content;
            border-style: solid;
            border-color: lightgray;
            border-width: 1px;
            border-radius: 5px;
            margin-top: 8px;
            z-index: 2;
            box-shadow: $_SHADOW;

            &__header {
              position: relative;
              width: 298px;
              height: 33px;
              border-style: solid;
              border-color: lightgray;
              border-width: 0px 0px 1px 0px;
              font-size: 14px;
              font-weight: 600;
              padding-left: 17px;
              padding-top: 8px;
              z-index: 2;
              background-color: white;
            }

            &__option {
              position: relative;
              width: 298px;
              height: 33px;
              border-style: solid;
              border-color: lightgray;
              border-width: 0px 0px 1px 0px;
              font-size: 14px;
              padding-left: 40px;
              padding-top: 8px;
              z-index: 2;
              background-color: white;

              &:hover {
                background-color: lightgray;
              }
            }
          }
        }
      }
      &__organization-btn {
        position: relative;
        left: 70.5%;
        bottom: 46%;
        width: 110px;
        height: 21px;

        &__summary {
          width: 110px;
          height: 21px;
          font-size: 15px;

          &__option-ctn {
            position: relative;
            width: fit-content;
            height: fit-content;
            border-style: solid;
            border-color: lightgray;
            border-width: 1px;
            border-radius: 5px;
            margin-top: 8px;
            z-index: 2;
            box-shadow: $_SHADOW;

            &__header {
              position: relative;
              width: 298px;
              height: 33px;
              border-style: solid;
              border-color: lightgray;
              border-width: 0px 0px 1px 0px;
              font-size: 14px;
              font-weight: 600;
              padding-left: 17px;
              padding-top: 8px;
              z-index: 2;
              background-color: white;
            }

            &__option {
              position: relative;
              width: 298px;
              height: 33px;
              border-style: solid;
              border-color: lightgray;
              border-width: 0px 0px 1px 0px;
              font-size: 14px;
              padding-left: 40px;
              padding-top: 8px;
              z-index: 2;
              background-color: white;

              &:hover {
                background-color: lightgray;
              }
            }

            &__input {
              position: relative;
              left: 2%;
              width: 285px;
              height: 33px;
              padding-left: 14px;
              border-radius: 5px;
            }
          }
        }
      }
      &__sort-btn {
        position: relative;
        left: 84%;
        bottom: 84%;
        width: 110px;
        height: 21px;

        &__summary {
          width: 110px;
          height: 21px;
          font-size: 15px;

          &__option-ctn {
            position: relative;
            width: fit-content;
            height: fit-content;
            border-style: solid;
            border-color: lightgray;
            border-width: 1px;
            border-radius: 5px;
            margin-top: 8px;
            z-index: 2;
            box-shadow: $_SHADOW;

            &__header {
              position: relative;
              width: 298px;
              height: 33px;
              border-style: solid;
              border-color: lightgray;
              border-width: 0px 0px 1px 0px;
              font-size: 14px;
              font-weight: 600;
              padding-left: 17px;
              padding-top: 8px;
              z-index: 2;
              background-color: white;
            }

            &__option {
              position: relative;
              width: 298px;
              height: 33px;
              border-style: solid;
              border-color: lightgray;
              border-width: 0px 0px 1px 0px;
              font-size: 14px;
              padding-left: 40px;
              padding-top: 8px;
              z-index: 2;
              background-color: white;

              &:hover {
                background-color: lightgray;
              }
            }

            &__input {
              position: relative;
              left: 2%;
              width: 285px;
              height: 33px;
              padding-left: 14px;
              border-radius: 5px;
            }
          }
        }
      }
    }
    &__display-ctn {
      position: relative;
      width: 902px;
      height: fit-content;
      min-height: 295px;
      display: block;
      background-color: white;

      &__no-result {
        position: relative;
        left: 7.5%;
        width: 768px;
        height: 295px;

        &__text {
          text-align: center;
          vertical-align: middle;
          line-height: 295px;
        }
      }
    }
  }
}
.issue {
  position: relative;
  width: 902px;
  height: 63px;
  border-style: solid;
  border-color: lightgray;
  border-width: 0px 0px 1px 0px;

  &__comment-ctn {
    position: absolute;
    top: 20%;
    left: 115%;
    width: 30px;

    &__text {
      float: right;
      padding-left: 0px;
      font-size: 14px;
      font-weight: 600;
    }
  }

  &__detail-ctn {
    position: relative;
    width: 701px;
    height: 40px;
    left: 4.3%;

    &__title {
      position: relative;
      top: 15%;
      text-decoration: none;
      font-size: 16px;
    }

    &__repo-name {
      position: relative;
      top: 15%;
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      padding-left: 12px;
    }

    &__description {
      position: relative;
      bottom: 0%;
      left: 4.3%;
      font-size: 12px;
    }
  }
}
