@import "../../styles/Color.scss";

.file__form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 400px;

  &-input {
    &-btn {
      display: none;
    }

    &-label {
      cursor: pointer;
      background-color: $_PRIMARY;
      height: 30px;
      padding: 0 6px;
      display: flex;
      align-items: center;
      border-radius: 2px;
      color: white;
      font-size: 14px;
      font-weight: 500;
      margin: 0 12px;
    }

    &-label:hover {
      filter: brightness(250%);
      box-shadow: #00000059 0px 5px 15px;
      cursor: pointer;
    }
  }

  &-btn {
    height: 30px;
    background-color: $_PRIMARY;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border: none;
    padding: 6px 6px;
    border-radius: 2px;
    margin-left: 16px;
  }
  &-btn:hover {
    filter: brightness(250%);
    box-shadow: #00000059 0px 5px 15px;
    cursor: pointer;
  }

  &-noti {
    font-size: 14px;
    font-weight: 600;
  }
}
