@import "styles/Color.scss";

body {
    background-color: rgb(235, 235, 235);
}

.ctn-timeline {
    & > h1 {
        font-size: 5em;
        text-align: center;
        font-family: "Bebas Neue", sans-serif;
    }

    .vertical-timeline-element-content:not(:last-child) {
        box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
    }

    .loading-icon {
        animation: spinner 1s infinite ease;
    }

    .success-icon {
        animation: start 1s ease infinite both;
    }

    @keyframes spinner {
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes start {
        0% {
            opacity: 0;
            width: 0;
            height: 0;
        }

        20% {
            opacity: 1;
            width: 0;
            height: 15px;
        }
    }
}
