<app-child-layout [showInfoButton]="true"
                  [title]="'Quản lý Admin'"
                  [infoRouterLink]="infoRouterLink"
                  [showAdminButton]="isSuperAdmin"
                  [adminRouterLink]="adminRouterLink"
                  [showImportButton]="false"
                  [nameOfLeft]="'left-section-admin'"
                  [nameOfRight]="'right-section-admin'"
                  [classOfCard]="'card-body-admin'"
                  [homeSetup]="'homeSetup-snd'"
                  [notPad]="true">
</app-child-layout>
