@import "../../../styles/Color.scss";
@import "../../../styles/ContainerContents.scss";

.source {
  .header {
    width: 100%;

    &__search {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 25px;

      .icon {
        font-size: 20px;
      }

      input {
        width: 90%;
        margin-left: 10px;
        padding: 4px;
        font-size: 18px;
        border: 0;
      }
    }

    &__add-file {
      max-width: 400px;
    }

    &__user-tag {
      img {
        border: 0.05px solid #000;
        border-radius: 50%;
      }
    }
  }

  .content {
    .user__tag {
      img {
        border: 0.05px solid #000;
        border-radius: 50%;
      }
    }
  }
}
