@import "../../../styles/Color.scss";
@import "../../../styles/ContainerContents.scss";
.Source {
  .header {
    width: 100%;

    &__search {
      width: 70%;
      display: flex;
      font-size: 35px;

      input {
        width: 90%;
        margin-left: 10px;
        padding: 4px;
        font-size: 18px;
      }
    }

    &__add-file {
      max-width: 200px;
    }

    &__user-tag {
      img {
        border: 0.05px solid #000;
        border-radius: 50%;
      }
    }
  }

  &__content {
    &-table {
      width: 100%;
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9rem;

      thead tr {
        color: $_WHITE;
        background-color: $_PRIMARY;
        text-align: left;
        font-weight: bold;
      }

      th,
      td {
        padding: 12px 15px;
      }

      tbody tr {
        border-bottom: 1px solid #dddddd;
      }

      .btn__btn-download {
        background-color: $_PRIMARY;
        color: white;
        padding: 6px 8px;
        cursor: pointer;
        font-size: 16px;
        margin-right: 6px;
      }
      .btn__btn-download:hover {
        filter: brightness(250%);
        box-shadow: $_SHADOW;
      }

      .btn__btn-delete {
        background-color: $_ERROR;
        color: white;
        padding: 6px 8px;
        cursor: pointer;
        font-size: 16px;
        margin-right: 6px;
      }

      .btn__btn-delete:hover {
        filter: brightness(150%);
        box-shadow: $_SHADOW;
      }
    }

    .pagination {
      width: 100%;
      height: 40px;
      list-style: none;
      display: flex;
      justify-content: center;
    }

    .pagination a {
      padding: 10px;
      margin: 8px;
      border-radius: 5px;
      border: 1px solid #cccccc;
      color: #000000;
      cursor: pointer;
    }

    .pagination a:hover {
      border: 1px solid $_PRIMARY;
      box-shadow: $_SHADOW;
    }

    .pagination li.active {
      .page-link {
        color: $_WHITE;
        padding: 10px;
        margin: 8px;
        border-radius: 5px;
        border: 1px solid $_PRIMARY;
        background-color: $_PRIMARY;
        cursor: pointer;
      }

      .sr-only {
        display: none;
      }
    }

    .pagination li.disabled {
      pointer-events: none;
      cursor: default;

      .page-link {
        color: $_WHITE;
        padding: 10px;
        margin: 8px;
        border-radius: 5px;
        border: 1px solid #cccccc;
        background-color: #cccccc;
      }
    }
  }
}

.btn {
  color: white;
  padding: 6px 8px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 3px;
}
