@import "styles/Color.scss";
.spinning-ctn-conversation {
  width: 70%;
  & .ant-spin-nested-loading {
    width: 100%;

    & .ant-spin-container {
      width: 100%;
    }
  }

  & .chatbox {
    width: 100%;
    height: 100%;
    padding: 0.5rem 3rem;
    display: flex;
    flex-direction: column;

    justify-content: flex-end;

    &__content {
      flex: -1;
      width: 100%;
      margin-bottom: 1rem;

      overflow-y: scroll;

      line-height: 1.6;

      & > p {
        margin: 0;
      }

      & .ant-comment-content-detail {
        display: flex !important;
        flex-direction: column !important;
      }
    }

    &__control {
      width: 100%;

      &__replied-container {
        width: 100%;
        padding: 0 1rem;

        background-color: $_GREENBLUE;

        display: flex;
        justify-content: space-between;
        align-items: center;

        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }
    }
  }
}

.hover-section {
  font-size: 1.3rem;
  padding-right: 0.3rem;
}

.hover-section:hover {
  cursor: pointer;
}

.text-container {
  &__reaction-container {
    background-color: $_GREENBLUE;

    width: 2.5rem;
    text-align: center;
    margin: 0;

    border-radius: 1rem;
  }
}

.send {
  cursor: pointer;

  height: 150%;
  width: 50%;

  background-color: $_BLUE;
  color: $_WHITE;

  border: none;
  border-radius: 0 10px 10px 0;

  box-shadow: 0px 15px 20px hsla(215, 92%, 64%, 0.4);

  &:hover {
    background-color: hsla(215, 92%, 64%, 0.8);
  }

  & > svg {
    font-size: 1.5rem;
  }
}

.chat__body {
  width: 100%;
  height: calc(95% - 1rem);
  overflow-y: auto;
  margin-bottom: 1rem;
}

.chat__footer {
  width: 100%;
  height: 5%;
}
