$_SUCCESS: #09814a;
$_ERROR: #fb3640;
$_WARNING: #ea9010;

$_CONTAINER: #fafaff;
$_SECOND_CONTAINER: #e4d9ff;

$_HOVER_PRIMARY: #1e2749;
$_PRIMARY: #273469;
$_SECONDARY: #30343f;

$_SHADOW: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
  rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
