$_SHADOW: #00000059 0px 5px 15px;
$_SUCCESS: #09814a;
$_ERROR: hsl(357, 96%, 60%);
$_WARNING: #ea9010;
$_WHITE: #fafaff;
$_PRIMARY: #051520;
$_SECONDARY: #30343f;
$_PINK: hsl(337, 77%, 64%);
$_GREENBLUE: hsl(170, 79%, 43%);
$_BLUE: hsl(215, 92%, 64%);
$_OGRANGE: hsl(22, 95%, 60%);
$_PURPLE: hsl(267, 66%, 54%);
$_GRAY: #4f5b63;
//background of color always should opacity = 0.1
//hover of color always should opacity = 0.8

.completed,
.red,
.high {
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  background-color: hsl(337, 77%, 64%, 0.1) !important;
  color: hsl(337, 77%, 64%) !important;
}

.low {
  font-weight: bold;

  padding: 0.5rem 1.5rem;
  border-radius: 8px;

  background-color: hsl(170, 79%, 43%, 0.1) !important;
  color: hsl(170, 79%, 43%) !important;
}

.medium {
  font-weight: bold;

  padding: 0.5rem 1.5rem;
  border-radius: 8px;

  background-color: hsl(22, 95%, 60%, 0.1) !important;
  color: hsl(22, 95%, 60%) !important;
}
