@import "../styles/Color.scss";

// Container cho phần content bên phải
.ctn {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  overflow: scroll;
}

.ctn-side-bar {
  width: 65px;
  height: 100%;
  overflow-y: auto;
}
