@import "../styles/Color.scss";

// Container cho phần content bên phải
.ctn {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.ctn-side-bar {
  width: 65px;
  height: 100%;
  overflow-y: auto;
}

.ctn::-webkit-scrollbar,
.ctn-side-bar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.ctn,
.ctn-side-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
