<div class="modal-header">
  <h5 class="modal-title">Chỉnh sửa nội dung</h5>
</div>
<div class="modal-body">
  <app-form-template [elementForm]="elementContent"
                     [formConfig]="formConfig"
                     [defaultCol]="'form__group col-sm-8'"
                     (formEvent)="receiveForm($event)"
                     (imageEvent)="receiveImg($event)"
  ></app-form-template>
  <app-richtext-template *ngIf="contentHtml" (richTextEvent)="receiveRichText($event)"
                         [contentHtml]="contentHtml"
  ></app-richtext-template>
</div>
<div class="modal-footer">
  <button class="btn btn-cancel" (click)="close()">Thoát</button>
  <button class="btn btn-success" [disabled]="!isShowSaveBtn" (click)="save()">Đăng bài</button>
</div>
<app-spinner-layout></app-spinner-layout>
