@import "../../styles/Color.scss";
@import "../../styles/ContainerContents.scss";

.storage {
  .header {
    &__search {
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 25px;

      .icon {
        font-size: 20px;
      }

      input {
        margin-left: 10px;
        padding: 4px;
        font-size: 18px;
        border: none;
      }
    }
  }

  .content {
    .user__tag {
      img {
        border: 0.05px solid #000;
        border-radius: 50%;
      }
    }
    .file__name {
      display: flex;
      align-items: center;
      .icon {
        font-size: 20px;
        margin-right: 20px;
      }
    }
  }
}
